# Backend-specific
/target/
**/*.rs.bk
*.log
.env
.env.*
sqlx-data.json
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Frontend-specific
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist/
/build/
/node_modules/
/.yarn/
/.pnpm/
**/.yarn/
**/.pnpm/
.env
.env.*
.idea/
.vscode/
.DS_Store
Thumbs.db
